.deck-container {
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 1.5em;
  background: #fff;
  text-align: center;
  background-color: #F8F8F8; }
  .deck-container .coder-wrapper {
    background-color: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    border: 1px solid #f1f1e7;
    padding: 30px 0px; }
  .deck-container .slide-list {
    text-align: left; }
    .deck-container .slide-list h1 {
      margin: 0;
      padding-top: .35em;
      text-align: left;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static;
      padding-bottom: .3em; }
    .deck-container .slide-list h2 {
      margin: 0;
      padding-left: .75em;
      padding-top: .5em;
      text-align: left;
      padding-bottom: .3em; }
    .deck-container .slide-list h3 {
      margin-left: 2em;
      text-align: left;
      color: #444444;
      margin-bottom: .3em; }
    .deck-container .slide-list h4 {
      margin-left: 1em;
      text-align: left;
      margin-top: 1em; }
    .deck-container .slide-list ol, .deck-container .slide-list ul {
      margin-bottom: .3em;
      padding-left: 1.1em;
      list-style-type: square;
      color: #3ba4db; }
    .deck-container .slide-list li {
      padding-left: .5em;
      text-align: left; }
      .deck-container .slide-list li h3 {
        margin-left: 0; }
    .deck-container .slide-list p {
      margin-top: -0.75em;
      margin-left: 2em;
      text-align: left;
      line-height: 1.3em; }
    .deck-container .slide-list img {
      margin: 0; }
  .deck-container .slide-subhead h1 {
    margin: 0px;
    padding-top: 2em;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-tranform: none;
    position: static; }
  .deck-container .slide-subhead h2 {
    margin-bottom: .1em; }
  .deck-container .slide-subhead h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: .1em; }
  .deck-container .slide-background {
    background: no-repeat top left;
    background-size: 100% auto; }
    .deck-container .slide-background h1 {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static;
      padding-top: .5em;
      margin-top: 0;
      text-align: left;
      color: white;
      text-shadow: 0 0 10px #444; }
  .deck-container .slide-background-content {
    background: no-repeat top left;
    background-size: 100% auto; }
    .deck-container .slide-background-content h1 {
      text-align: left;
      font-size: 2.5em;
      margin: 0;
      padding-top: 1em;
      padding-left: 5%;
      padding-right: 15%;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static; }
    .deck-container .slide-background-content h3 {
      text-align: left;
      margin: 0;
      padding-bottom: 1.5em;
      padding-left: 5%;
      padding-right: 15%; }
    .deck-container .slide-background-content .background-wrapper {
      background-color: white; }
    .deck-container .slide-background-content .background-padding {
      padding-top: 15%; }
  .deck-container .slide-image h1 {
    text-align: left;
    margin-top: 1em;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-tranform: none;
    position: static; }
  .deck-container .slide-image h2 {
    font-size: 2em;
    text-align: left;
    padding-top: 0; }
  .deck-container .slide-image h3 {
    text-align: left; }
  .deck-container .slide-image p {
    text-size: 1.1em;
    text-align: left;
    line-height: 1.5em;
    padding-top: .5em; }
  .deck-container .slide-image .top-image {
    float: left;
    padding-right: .3em; }
  .deck-container .slide-accent {
    background: #3ba4db;
    color: white; }
    .deck-container .slide-accent h1 {
      font-size: 4em;
      color: white;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static;
      padding-top: 20%; }
      .deck-container .slide-accent h1 a {
        color: white; }
        .deck-container .slide-accent h1 a:hover {
          color: #2a6c8f; }
    .deck-container .slide-accent h2 {
      color: white;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static;
      padding-top: 3em; }
    .deck-container .slide-accent h3 {
      color: white;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-tranform: none;
      position: static;
      padding-top: 0em; }
    .deck-container .slide-accent p {
      font-size: 1.5em;
      color: white;
      text-align: center;
      text-transform: none;
      padding-top: 0; }
    .deck-container .slide-accent .text-top {
      padding-top: .25em; }
  .deck-container .slide-homework {
    padding: 0 10%;
    background: #444444; }
    .deck-container .slide-homework h1 {
      font-size: 3.5em;
      text-align: left;
      background-color: inherit;
      line-height: .9em;
      color: white;
      padding: .2em 1em .07em 0;
      margin-bottom: .3em; }
    .deck-container .slide-homework h2 {
      text-align: left;
      background-color: inherit;
      padding: .5em 1em .07em 0;
      margin-bottom: .5em; }
    .deck-container .slide-homework h3 {
      text-align: left;
      background-color: inherit;
      font-size: 1.1em;
      color: white;
      margin-bottom: .3em; }
    .deck-container .slide-homework ol {
      text-align: left;
      list-style-type: decimal;
      font-size: 1.1em;
      color: #3ba4db;
      margin-left: 1em; }
      .deck-container .slide-homework ol ul {
        font-size: 1.0em;
        margin-left: .5em;
        padding: 0 0; }
    .deck-container .slide-homework ul {
      text-align: left;
      background-color: inherit;
      list-style-type: square;
      font-size: 1.1em;
      color: #3ba4db;
      margin-left: 1em; }
      .deck-container .slide-homework ul ul {
        list-style-type: none;
        font-size: 1.0em;
        margin-left: .5em;
        padding: 0 0; }
        .deck-container .slide-homework ul ul li {
          background-color: inherit;
          padding-left: .5em;
          padding-top: .2;
          padding-bottom: 0;
          margin-top: .5em; }
    .deck-container .slide-homework li {
      background-color: inherit;
      padding-left: .5em;
      padding-bottom: .5em; }
  .deck-container .large {
    color: red; }
  .deck-container .callout {
    font-family: 'Lato',"HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    color: #3ba4db; }
  .deck-container em {
    font-family: 'Lato',"HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    color: #2a6c8f;
    font-style: normal; }
  .deck-container .notes {
    font-style: italic;
    font-size: .7em;
    line-height: .7em; }
  .deck-container h1 {
    font-family: 'Lato',"HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1em;
    color: #3ba4db;
    font-size: 4em;
    letter-spacing: -0.02em;
    word-spacing: .1em; }
  .deck-container h2 {
    font-size: 2.75em;
    line-height: 1em;
    font-family: 'Lato',"HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    color: #3ba4db;
    border: none;
    letter-spacing: -0.02em;
    word-spacing: .13em;
    padding: 0 0 .2em 0; }
  .deck-container h3 {
    font-size: 1.2em;
    font-weight: normal; }
  .deck-container h4 {
    font-size: 2em;
    line-height: 1.2em;
    font-family: 'Lato',"HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    color: #3ba4db;
    border: none;
    letter-spacing: -0.02em;
    word-spacing: .1em;
    padding: 0; }
  .deck-container .slide > pre {
    padding: 10px;
    border-color: #f1f1e7;
    background-color: white;
    text-align: left;
    padding: 30px 50px; }
  .deck-container .example {
    font-size: 2.5em;
    color: #444444;
    line-height: 2em;
    padding: .1em .15em 0 .15em;
    margin-left: .5em;
    margin-bottom: .5em; }
    .deck-container .example em {
      display: inline-block;
      background: #3ba4db;
      color: #fff;
      padding: .1em .15em 0 .15em;
      font-style: normal;
      margin: .5em 0; }
    .deck-container .example b {
      color: #3ba4db; }
  .deck-container code {
    color: #888; }
  .deck-container blockquote {
    font-size: 2em;
    font-style: italic;
    padding: 1em 2em;
    color: #000;
    border-left: 5px solid #3ba4db; }
    .deck-container blockquote p {
      margin: 0; }
    .deck-container blockquote cite {
      font-size: .5em;
      font-style: normal;
      font-weight: bold;
      color: #888; }
  .deck-container ::-moz-selection {
    background: #3ba4db;
    color: #fff; }
  .deck-container ::selection {
    background: #3ba4db;
    color: #fff; }
  .deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    color: #ec461c;
    text-decoration: none; }
  .deck-container a:hover, .deck-container a:focus {
    color: #3ba4db; }
  .deck-container strong {
    font-weight: normal;
    color: #3ba4db; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #3ba4db;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #3ba4db;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current {
    background: #ddf; }
